/* PAGE TITLE */
.page-title {
  color: #0f4c81;
  font-weight: 600;
  margin-bottom: 18px;
  text-align: center;
}

/* TABLE WRAPPER */
.table-wrapper {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

/* BANK TABLE */
.bank-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

/* HEADER */
.bank-table thead {
  background: #0f4c81;
}

.bank-table th {
  color: #ffffff;
  text-align: left;
  padding: 12px 14px;
  font-weight: 600;
  font-size: 13px;
}

/* BODY */
.bank-table td {
  padding: 11px 14px;
  color: #37474f;
  border-bottom: 1px solid #e0e0e0;
}

/* STRIPED ROWS */
.bank-table tbody tr:nth-child(even) {
  background: #f5f7fa;
}

/* HOVER */
.bank-table tbody tr:hover {
  background: #e3f2fd;
}

/* EMPTY STATE */
.empty-text {
  margin-top: 15px;
  font-size: 13px;
  color: #9e9e9e;
  font-style: italic;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .bank-table th,
  .bank-table td {
    padding: 10px;
    font-size: 12px;
  }
}
.button-container {
  text-align: right;
  margin-bottom: 15px;
}
.btn-secondary{
    padding: 8px 18px;
    background: #8b8d8b;
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 600;
}
.btn-secondary:hover {
    background: #4e5a65;
}
.btn-secondary:active {
  transform: scale(0.97);
}
btn btn-danger mb-3 {
    padding: 8px 18px;
    background: #d9534f;
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 600;
}
.btn-danger:hover {
    background: #c9302c;
}
.btn-danger:active {
  transform: scale(0.97);
}
